SISMED_EXE = your:\sismed\file.exe
SISMED_USERNAME = your_sismed_username
SISMED_PASSWORD = your_sismed_password

# BD KSalud
DB_SERVER = your_server_ip
DB_NAME = SismedRPA
DB_USER = rpa
DB_PASS = rpaKsalud
